#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --button-background: #333;
  --button-color: #fff;
  --ruler-color: #444;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

:root {

}

.ruler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--ruler-color);
  padding-top: 10px;
  margin-top: 10px;
}

.ruler input[type="number"] {
  width: 50px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: var(--button-background);
  color: var(--button-color);
  text-align: center;
}

.card {
  padding: 2em;
}

.subtitle {
  color: #888;
}
