.meter {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #444;
  padding-top: 10px;
  margin-top: 10px;
}

.meter div {
  flex: 1;
  text-align: center;
}

.meter label {
  display: block;
  width: 140px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #888;
}

.meter input[type="number"] {
  width: 70px;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
}

.meter input[type="number"]:disabled {
  /* TO-DO add proper disabled theming */
  background-color: #1a1a1a;
}
