.meter {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #444;
  padding-top: 10px;
  margin-top: 10px;
}

.meter div {
  flex: 1;
  text-align: center;
}

.meter label {
  display: block;
  width: 140px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #888;
}

.meter input[type="number"] {
  width: 110px;
  padding: 16px 4px 16px 4px;
  border: none;
  border-radius: 3px;
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  font-size: 1em;
}

.meter input[type="number"]:disabled {
  /* TO-DO add proper disabled theming */
  background-color: #1a1a1a;
}

/* Chrome, Safari, Edge, Opera */
.meter input::-webkit-outer-spin-button,
.meter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.meter input[type=number] {
  -moz-appearance: textfield;
}